.game{
    border-style: solid;

}

.title{
    border-style: solid;
}
.item{
    border-style: solid;

}
.box{
 
    border-style: solid;
}
body{
    border-style: solid;

}
.bird{
    border-style: solid;
    
}